@media (max-width : 1200px) {
    nav ul {
        display: none;
    }

    .icon .fa-basket-shopping
    ,.icon .fa-magnifying-glass {
        display: none !important;
    }

    nav .icon .mane span:last-of-type {
        width: 100%;
    }

    .container_navbar input:checked + .icon .mane span:nth-child(1)  {
        transform: rotate(45deg) translate(15% ,5px);
            transition: 0.5s;

    }
    .container_navbar input:checked + .icon .mane span:nth-child(2)  {
        transform: rotate(-45deg) translate(15% ,-3px);
        transition: 0.5s;

    }
    .container_navbar input:checked + .icon .mane span:nth-child(3)  {
        display: none;
    }

    .container_navbar input:checked ~ .mobile_menu  {
        height: calc(6 * 70.4px);   
    }
    /* end nav */
    section {
        padding: 100px 15px !important;
    }
    /* start header */

    header {
        padding: 0 15px;
    }
    
    .head_title p:first-of-type {
        letter-spacing: 15px;
    }
    /* end header */
    /* start sec watch */

    .Watch {
        flex-direction: column;
    }

    .player_rigth
    ,.player_left {
        width: 100%;
    }

    .name > p 
    ,.player_left .name > p {
        background:unset;
        background-color: #000;
    }

    /* end sec watch */

}

@media (max-width : 992px) {
    nav {
        padding: 0 15px;
    }
    /* sec */
    section {
        padding: 100px 15px !important;
    }
    /* sec */
    /* start header */
    header {
        gap: 0;
        flex-direction: column;
    }
    .head_title {
        height: 50%;
        width: 75%;
        align-items: center;
    }
    .banner_head {
        width: 75%;
    }
    .head_title p:first-of-type {
        letter-spacing: 15px;
    }
    /* end header */
    /* start sec gammer */
    .team_card {
        width: calc(100% / 3 - 40px);
    }
    /* end sec gammer */
    /* start sec Shop */
    .Shop_card {
        width: calc(100% / 3 - 40px);
    }
    /* end sec Shop */
    /* start sec Blog */
    .Blog .box .Shop_card {
        width: calc(100% / 2 - 50px);
    }
    /* end sec Blog */
    /* start sec Updates */
    .Updates .button {
        width: 21%;
    }
    /* end sec Updates */
     /* start sec footer */
    .brand_social {
        width: calc(100% / 3 - 20px);
    }
    /* end sec footer */

}

@media (max-width : 768px) {
    nav {
        padding: unset;
    }
    /* sec */
    section {
        padding: 100px 15px !important;
    }
    /* sec */

    /* start sec watch */
    .Trending {
        background-color: unset;
    }

    .nav_trending {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .nav_trending a{
        width: 100%;
        text-align: center;
    }

    .nav_trending a:first-of-type{
        clip-path:unset;
    }

    .Watch {
        flex-direction: column;
    }

    .player_rigth
    ,.player_left {
        width: 100%;
    }

    .name > p 
    ,.player_left .name > p {
        background:unset;
        background-color: #000;
    }

    .player_rigth img, .player_left img {
        width: 90px;
    }

    /* end sec watch */
    /* start sec gammer */
    .team_card {
        width: calc(100% / 2 - 20px);
    }
    /* end sec gammer */
    /* start sec Shop */
    .Shop_card {
        width: calc(100% / 2 - 20px);
    }
    /* end sec Shop */
    /* end sec Shop */
    .foot {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: unset;
        padding: 0 110px 20px;
    }
    /* end sec Shop */
    /* end sec Shop */
    .Blog .box .Shop_card p {
        font-size: 25px;
        text-align: center;
    }
    /* end sec Blog */



}

@media (max-width : 576px) {
    nav {
        padding: unset;
    }
    /* sec */
    section {
        padding: 100px 15px !important;
    }
    /* sec */

    /* start sec watch */
    .Trending {
        background-color: unset;
    }
    .cont {
        padding: 100px 0px 0;
    }
    .name > p {
        height: 60px;
        font-size: 25px;
    }

    /* end sec watch */
    /* start sec gammer */
    .box {
        flex-direction: column;
    }
    /* end sec gammer */
    /* start sec Live */
    .Live .cont div:first-of-type, .Live .cont div:last-of-type {
        flex-direction: column;
    }
    /* end sec Live */
    /* start sec Shop */
    .head_section h2 {
        font-size: 40px;
    }
    .Shop_card {
        width: 60%;
    }
    /* end sec Shop */
    .Blog .box .Shop_card {
        width: calc(100% / 1 - 50px);
    }
    /* end sec Blog */
    /* start sec Updates */
    .Updates .button {
        width: 30%;
    }
    /* end sec Updates */

    /* start sec footer */
    .brand_social {
        width: calc(100% / 2 - 10px);
    }

    .link_info {
        font-size: 15px;
    }

    .foot {
        padding: 0 0px 20px;
    }
    /* end sec footer */


}

@media (max-width: 360px) {
    .Shop_card {
        width: 75%;
    }
    .team_card {
        width: 60%;
    }
    .Updates .button {
        width: 33%;
    }
    .brand_social > a {
        font-size: 15px;
    }
    .link_info  {
        font-size: 11px;
    }

}