* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
}


@font-face {
 font-family: 'Bold_teko';
 src: url(../font/Teko/static/Teko-Bold.ttf);
}

@font-face {
 font-family: 'Regular_teko';
 src: url(../font/Teko/static/Teko-Regular.ttf);
}

@font-face {
 font-family: 'SemiBold_teko';
 src: url(../font/Teko/static/Teko-SemiBold.ttf);
}

:root {
    --Regular-color:#fc0820;
    --secondary-color:#1f1625;
    --font-color:#fff;
    --back-color:#0c0305;
    --Regular-font:'Regular_teko',sans-serif;
    --SemiBold-font:'SemiBold_teko',sans-serif;
    --Bold-font:'Bold_teko',sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--back-color);
}

/* start navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 100px;
    position: fixed;
    width: 100%;
    font-family: var(--Regular-font);
    background-color:#0c0305;
    z-index: 99999;
}

.logo {
    width: 180px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

nav ul li {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
    position: relative;
}

nav ul li:hover  {
   background-color: var(--secondary-color);
}

nav ul li  * {
    color: var(--font-color);
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--SemiBold-font);
    transition: 0.5s;
}

nav .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    gap: 20px;
    cursor: pointer;
}

nav .icon .mane {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-direction: column;
    width: 30px;
    height: 15px;
}

nav .icon .mane span{
    height: 2.5px;
    width: 100%;
    background: var(--font-color);
    transition: 0.5s;
    cursor: pointer;
}

nav .icon .mane span:last-of-type{
    width: 60%;
}

nav .icon .mane:hover span{
    background-color: var(--Regular-color);
}

nav .icon > i {
    position: relative;
    transition: 0.5s;
    color: var(--font-color);
}

nav .icon i:first-of-type:after  {
    content: '1';
    position: absolute;
    top: 0;
    right: -25%;
    width: 5px;
    height: 5px;
    background-color: var(--Regular-color);
    border-radius: 50%;
    color: var(--font-color);
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

nav .icon i:hover {
    color: var(--Regular-color);
}

.dropdown
,.dropdown_single {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 220px;
    padding: 10px;
    transform: scalex(0);
    opacity: 0;
}


.dropdown i {
    opacity: 0;
}

.dropdown a {
    transform: translateX(-10px);
}
  
.dropdown a:hover  {
    transform: translateX(0px);

}
.dropdown a:hover *{
    color: var(--Regular-color);
}

.dropdown a:hover i {
    opacity: 1;
}


li:hover .dropdown
,.dropdown .span_main:hover + .dropdown_single
,.dropdown_single:hover {
    transform: scalex(1);
    opacity: 1;
}

.dropdown_single {
    left: -95%;
    top: 85%;
}

/*  */

    .container_navbar {
        position: relative;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav .mobile_menu {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        height: 0;
        background-color: var(--font-color);
        display: flex;
        overflow-y: scroll;
    }

    .menu_list a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--back-color);
        font-family: var(--Regular-font);
        font-size: 20px;
        padding: 20px 20px 20px 60px;
        cursor: pointer;
        transition: 0.5s;
        border-bottom: 2px solid #cccccc9d;
    }

    .dropdown_menu_list {
        height: 0;
        overflow: hidden;
    }

    .dropdown_menu_list a {
        padding: 10px 0px 10px 100px;
    }

    .dropdown_menu_list a:hover {
        color: var(--Regular-color);
    }

    .menu_list a i{
        font-family: var(--Bold-font);
        cursor: pointer;
    }

    .menu_list input:checked ~ .dropdown_menu_list {
        height: calc(7 * 50.4px);
    }
    .mobile_menu .menu_list:nth-child(5) input:checked ~ .dropdown_menu_list
    ,.mobile_menu .menu_list:nth-child(4) input:checked ~ .dropdown_menu_list 
    ,.mobile_menu .menu_list:nth-child(2) input:checked ~ .dropdown_menu_list  {
        height: calc(6 * 50.4px);
    }
    .mobile_menu .menu_list:nth-child(3) input:checked ~ .dropdown_menu_list  {
        height: calc(5 * 50.4px);
    }

/* end nav */
/* start  header */
header {
    height: 70vh;
    background: url(../images/main-banner-bg4.jpg) center / 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 130px;
    color: var(--font-color);
    font-family: var(--Bold-font);
    position: relative;
    animation: glitch 1s linear infinite;
}

@keyframes glitch {
    2%, 64% {
        transform: translate(2px, 0) skew(0deg);
    }
    4%, 60% {
        transform: translate(-2px, 0) skew(0deg);
    }
    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

header h1::after
,header h1::before {
    content: attr(title);
    position: absolute;
    left: 0;
}

header h1::before {
    animation: glitchTop 1s linear infinite;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
    2%, 64% {
        transform: translate(2px, -2px);
    }
    4%, 60% {
        transform: translate(-2px, 2px);
    }
    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

header h1::after {
    animation: glitchBotom 1.5s linear infinite;
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
    2%, 64% {
        transform: translate(-2px, 0);
    }
    4%, 60% {
        transform: translate(-2px, 0);
    }
    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}

/* end header */
/* start sec */
.container
,.card 
,ol{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 100px 150px;
}

.card {
    width: calc(100% / 3 - 40px);
    background-color: #1f1625;
    flex-direction: column;
    margin: unset;
    align-items: unset;
    color: var(--font-color);
    font-family: var(--Regular-font);
    gap: 10px;
    overflow: hidden;
}

.img {
    overflow: hidden;
}

.img img {
    transition: 0.5s;
}
.card img:hover {
    transform: scale(1.1);
}
.card ol {
    justify-content: start;
    margin: unset;
    gap: unset;
}

.card ol li {
    padding: 0 20px ;
    border-right: 2px solid var(--Regular-color);
    font-size: 18px;
}

.card ol li:last-of-type {
    border-right:unset;
}

.card p {
    font-size: 30px ;
    padding-left: 20px ;
    transition: 0.5s;
    cursor: pointer;
}
.card a {
    font-size: 18px;
    color: var(--font-color);
    font-family: var(--Regular-font);
    padding: 0 20px 20px;
    transition: 0.5s;
}

p:hover 
,.card a:hover {
    color: var(--Regular-color);
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.page a{
    font-family: var(--Bold-font);
    color: var(--back-color);
    padding: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--font-color);
    transition: 0.5s;
    border-radius: 5px;

}

.page a.active{
    background-color: var(--Regular-color);
    color: var(--font-color);
}

.page a:hover{
    background-color: var(--Regular-color);
    color: var(--font-color);
}
/* end sec */
/* start footer */
footer
,.link_info
,.img_info
,.foot
,.lang {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    gap: 10px;
    padding: 0 20px;
}

footer {
    background: url(../images/footer-bg.png);
}

footer * {
    color: var(--font-color);
    font-family: var(--Regular-font);
    transition: 0.5s;
}

.info {
    margin:50px 0;
}

.img_info img{
    width: 50%;
    margin:50px 0;
}

.link_info  {
    font-size: 20px;
    flex-direction: row;
}

.link_info a:hover {
    color: var(--Regular-color);
}

.foot {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    padding: 0 110px;
}

.foot .copy a:first-of-type {
    background:#81b441 ;
    border-radius: 20px;
    padding: 5px 15px;
    position: fixed;
    bottom: 32px;
    left: 20px;
    z-index: 9999;
}

.foot .copy a:last-of-type {
    margin-left: 10px;
    font-size: 20px;
}

.foot .copy a:last-of-type span{
    color: var(--Regular-color);
}

.lang a:first-of-type {
    border: 2px solid var(--font-color);
    padding: 10px 10px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.lang  .drop_top a{
    padding: 10px;
    background-color: var(--Regular-color);
    position: fixed;
    bottom: 25px;
    right: 20px;
    border: unset;
    z-index: 9999;
}
/* end footer */